html {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: hidden; */
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#output {
  position:absolute;
  top:0px;
  left:0px;
  width:100vh;
  height:100%;
}
#survivesOverlay {
  position:absolute;
  z-index: 5;
  top:0px;
  left:0px;
  width:100vh;
  height:100%;
}
#sidebar {
  position:absolute;
  right:0px;
  top:0px;
  text-align:right;
  width: calc(100vw - 100vh - 2rem);
}
.accordion-body br::after {
  content: "<span style='width:1rem;'>";
}
label, input {
  cursor: pointer;
}
strong {
  border: 1px white solid;
  border-radius: 3px;
  padding: 2px;
}