html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
* {
  font-family: monospace, monospace;
}
#output {
  position:absolute;
  top:0px;
  left:0px;
  width:100vh;
  height:100%;
}
#sidebar {
  position:absolute;
  right:0px;
  top:0px;
  text-align:right;
}