html {
    height: 100%;
    width: 100%;
  }
  body {
    margin:0;
    background-color: darkgray;
    overflow:hidden;
  }
  button {
      cursor:pointer;
  }
  #fps {
    position:absolute;
    right:10px;
    top:10px;
  }
  #overlay {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top:50vh;
    left:50vh;
    transform: translate(-50%,-50%);
  }
  canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }
  #output {
    position: relative;
    height:100%;
    width:calc(100vh * 100 / 128);
    box-shadow: 2px 0px 0 #ffffff;
  }
  #sidebar {
    position:absolute;
    right:10px;
    top:60px;
    height: calc(100% - 60px);
    width:30%;
    text-align:right;
    overflow-y: scroll;
  }
.piece {
  position: absolute;
  z-index: -10;
}
.preview {
  position: absolute;
  height: calc(100vh * 32 / 128);
  width: calc(100vh * 32 / 128);
  top: 50px;
  left: calc(100vh * 100 / 128 + 50px) ;
  border: solid white 2px;
}
.preview canvas {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
#score {
  position:absolute;
  right:10px;
  top:50px;
  text-align: center;
}
#scoreDisplay {
  display: inline-block;
  width: 10rem;
}