* {
  font-family:verdana;
}
body {
  text-align:center;
  line-height: 25px;
  color:#eeeeee;
  background-color:#323232;
}
p {
  color:#eeeeee;
}
h1 {
  color:#eeeeee;
  text-shadow:1px 2px 10px #000000;
}
b {
  font-size:150%;
}
.left {
  position: absolute;
  left: 10px;
}
.right {
   position: absolute;
  right: 10px;
}
.left1 {
  position: fixed;
  left: 10px;
}
.right1 {
   position: fixed;
  right: 10px;
}
.left1 p, .right1 p{
  background-color:#bb0000;
  border-radius:7px;
  box-shadow:1px 2px 8px #161616;
}
option {
  cursor:pointer;
  color:#eeeeee;
  background-color:#323232;
  border:solid 5px #323232;
  border-radius:10px;
}
option:checked {
  box-shadow: 10px 10px #eeeeee inset;
}
select {
  cursor:pointer;
  color:#eeeeee;
  border:1px solid #eeeeee;
  border-radius:4px;
  background-color:#323232;
  transition:0.1s ease-out;
}
select:hover {
  color:#323232;
  border:1px solid #eeeeee;
  border-radius:4px;
  background-color:#eeeeee;
}
input {
  color:#eeeeee;
  background-color:#323232;
  border:1px solid #eeeeee;
  border-radius:4px;
  transition:0.15s ease-out;
}
input:hover {
  border:1px outset #eeeeee;
}
input::placeholder {
  color:#bbbbbb;
}
button {
  cursor:pointer;
  border:1px solid #eeeeee;
  border-radius:4px;
  background-color:#323232;
  color:#eeeeee;
  transition:0.1s ease-out;
}
button:hover {
  border:1px solid #323232;
  border-radius:4px;
  background-color:#eeeeee;
  color:#323232;
}