html {
  height: 100%;
  width: 100%;
}
body {
  margin:0;
  background-color: darkgray;
  overflow:hidden;
}
#output {
  height:100%;
  width:100%;
  /* image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor; */
}
#zoomBox {
  position:absolute;
  width:10px;
  height:10px;
  left:0px;
  top:0px;
  border: 2px blue solid;
  display:none;
}
#loading {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  color:grey;
  z-index: 100;
}
