html {
  height: 100%;
  width: 100%;
}
body {
  margin:0px;
  background-color:#000000;
}
#my-canvas {
  height:100%;
  position:absolute;
  left: 0;
  top: 0;
  /* left:50%;
  transform:translateX(-50%); */
}
#sidebar {
  text-align: right;
  height:100%;
  position:absolute;
  right: 0;
  top: 0;
}
button {
  cursor: pointer;
}